body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    background: rgb(28, 27, 27);
}

.logo {
    margin: 0 0 0 5rem;
}

ul {
    display: flex;
    padding-left: 4rem;
}

ul li {
    list-style: none;
}

ul li a {
    padding: 0 2rem;
    text-decoration: none;
    color: #fff;
}

ul li a:hover {
    color: darkorange;
}

button {
    margin: 1rem 0 0 33rem;
}

button:active {
    background: darkorange;
    cursor: pointer;
    border: 0;
    border-radius: 5%;
}